parameters:
	paths:
		- ../src/
		- ../tests/_support/
		- ../tests/acceptance/
		- ../tests/unit/
		- ../RoboFile.php
	excludePaths:
		- ../RoboFileAcceptance.php
		- ../tests/_data/
		- ../tests/_output/
		- ../tests/_support/_generated/
		- ../tests/_support/Helper/Composer/Scripts.php
